html {
  background-color: #68486D;
}

html { 
  background: url(road.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
}


h1, h2, h3, h4, h5, select, p, .btn {
  font-family: 'Ubuntu', sans-serif;
}

p {
  background-color: white;
  padding: 15px 0;
  font-size: 1.1em;
}

h1{
  margin: 50px;
  font-weight: 700;
}

h3{
  font-weight: 700;
}

.center{
  margin: 0 auto;
  text-align: center;
}

.bottom-padding {
  padding-bottom: 15px;
}

/*.pull-select-left{
  margin-left: -140px;
}*/

table{
  background-color: white;
}

tr:nth-child(odd) {
  font-weight: bold;
}

button, select {
  margin: 0 auto;
  text-align: center;
}

select {
  min-width: 200px;
  background-color: white;
  font-size: 1.3em;
  padding: 10px;
}

.btn-default{
  background: none;
  border-radius: 40px;
  border: none;
  margin: 10px;
  padding: 10px;
  font-size: 1.2em;
  position: relative;
  background: #686868;
  color: #fff;
  box-shadow: 0 6px #333232;
}

.btn-default:hover {
  background: #686868;
  color: #fff;
  top: 2px;
  box-shadow: 0 4px #333232;
}

.btn-go {
  background: #246033;
  box-shadow: 0 6px #1f4428;
}

.btn-go:hover {
  background: #246033;
  box-shadow: 0 4px #1f4428;
}






